<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492127313376-b2gdsshvf8ho6e60pt6tfrk4asumhk1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492127313376-b2gdsshvf8ho6e60pt6tfrk4asumhk1f</string>
	<key>API_KEY</key>
	<string>AIzaSyBVEGE73Y10m-VMbTB0TANsddsGOLz76Mk</string>
	<key>GCM_SENDER_ID</key>
	<string>492127313376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shinspiegel.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashstuff-e384e</string>
	<key>STORAGE_BUCKET</key>
	<string>flashstuff-e384e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492127313376:ios:f503c05c7d450a73dddf85</string>
</dict>
</plist>